# From: https://github.com/github/gitignore/blob/master/ArchLinuxPackages.gitignore

*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig

# AUR metadata
.AURINFO
.SRCINFO

pkg/
src/

# Additional patterns not from source
*.deb
*.gem
